@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Jim+Nightshade&family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Italiana&family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");

:root {
  --bg-dark: #140d0d;
  --bg-glow: #371919;
  --text-gold: #d2ad75;
  --text-light-gold: #e0d5c6;
  --text-white: #ffffff;

  --font-script: "Mea Culpa", cursive;

  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  background-image: linear-gradient(to right, #0f0f0f 8%, #371919 100%);
  font-family: var(--font-body);
  color: var(--text-gold);
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}

a {
  color: var(--text-light-gold);
  text-decoration: none;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 45px 5px;

  justify-content: flex-start;
}
.main-header .logo a {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-gold);
}

.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-header nav a {
  font-family: "Jacques Francois", serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--text-gold);
  transition: color 0.3s;
}
.main-header nav a:hover {
  color: var(--text-white);
}
.about-section {
  display: flex;
  align-items: center;
  min-height: 80vh;
  position: relative;
  padding: 4rem 0;
}

.about-content {
  flex-basis: 50%;
  max-width: 600px;
  z-index: 2;
}
.about-content .heading {
  margin-bottom: 25px;
}
.about-content .heading span {
  font-size: 2.5rem;
  font-style: italic;
  color: var(--text-white);
  display: block;
}
.about-content .heading h1 {
  font-family: "Jim Nightshade", cursive;
  font-size: 7rem;
  line-height: 0.8;
  color: #d2ad75;
  font-weight: 400;
  margin-top: -10px;
}
.about-content p {
  font-family: "Antic Didone", serif;
  color: #dedede;
  font-size: 1.33em;
  line-height: 1.8;
  margin-bottom: 35px;
}
.about-content p strong {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-gold);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.btn {
  display: inline-block;
  border: 1px solid var(--text-gold);
  padding: 12px 35px;
  color: var(--text-gold);
  font-family: "Jacques Francois", serif;
  font-size: 1.1rem;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: var(--text-gold);
  color: var(--bg-dark);
}

.about-image {
  position: absolute;
  right: 10%;
  top: 18%;
  transform: scale(1.4);

  z-index: 1;
}

.about-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
  position: relative;
  z-index: 2;

  filter: drop-shadow(0px 3.76px 5.2px #000);
}

@media (max-width: 900px) {
  .about-section {
    position: relative;
    padding: 3rem 0;
    margin-left: -30px;
  }
  * {
    padding: 0 1px;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
  }
  .about-image {
    position: absolute;
    right: 19%;
    top: 55%;
    transform: scale(1.15);

    z-index: 1;
  }

  .about-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 3.76px 5.2px #000);
  }
}
.quote-section {
  display: flex;
  align-items: center;
  gap: 25px;

  margin-top: 2rem;
  padding-top: 0.5rem;
  border-top: 2px solid #d2ad75;
}

.quote-icons {
  display: flex;
  gap: 15px;
  transform: scale(0.7);
}

.quote-icons svg {
  width: 24px;
  height: 24px;
  stroke: var(--text-gold);
  fill: none;
  opacity: 0.8;
  transform: scale(0.7);
}

.quote-text {
  font-family: var(--font-serif);
}

.quote-text p {
  font-size: 1rem;
  margin: 0 0 5px 0;
  line-height: 1.5;

  color: var(--text-light-gold);
}

.quote-text span {
  display: block;
  text-align: right;
  color: var(--text-gold);
  font-weight: 700;
  font-style: normal;
}

.vertical-text-widget {
  position: absolute;

  bottom: 600px;
  right: -40px;

  transform: rotate(-90deg);

  transform-origin: bottom right;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  color: #d2ad75;
  font-family: serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

.vertical-text-widget::before {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 50px;
}

.vertical-text-widget::after {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 50px;
}

@media (max-width: 768px) {
  .main-header {
    margin-bottom: 30px;
  }
  .main-header nav a {
    display: none;
  }
  * {
    padding: 0 1px;
  }

  .about-content .heading {
    margin-bottom: 25px;
  }

  .about-content .heading span {
    font-size: 2rem;
    font-style: italic;
    color: var(--text-white);
    display: block;
  }

  .about-content .heading h1 {
    font-family: "Jim Nightshade", cursive;
    font-size: 7rem;
    line-height: 0.8;
    color: #d2ad75;
    font-weight: 400;
    margin-top: -10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .about-content p {
    font-family: "Antic Didone", serif;
    color: #dedede;
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 35px;
  }

  .about-content p strong {
    font-weight: 700;
    font-size: 1.3rem;

    color: var(--text-gold);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }

  .btn {
    display: inline-block;
    border: 1px solid var(--text-gold);
    padding: 12px 35px;
    color: var(--text-gold);

    font-family: "Jacques Francois", serif;
    font-size: 1rem;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }
  .quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  }
}
@media (max-width: 992px) {
  .about-section {
    flex-direction: column-reverse;
  }
  .about-image {
    order: 1;
    margin-bottom: 40px;
  }
  .about-content {
    order: 2;
  }
  .quote-section {
    flex-direction: column;
    text-align: center;
  }
  .quote-text span {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
  }
  .vertical-border,
  .vertical-text-owner {
    display: none;
  }
  .about-content .heading h1 {
    font-size: 4.5rem;
  }
  .about-content .heading span {
    font-size: 2rem;
  }
  .main-header {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 900px) {
  .quote-section {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: row;

    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: 2px solid #d2ad75;
  }

  .quote-icons {
    margin-top: -20px;
  }
  .vertical-text-widget {
    position: absolute;

    bottom: 250px;
    right: 0px;

    transform: rotate(-90deg);

    transform-origin: bottom right;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    color: #d2ad75;
    font-family: serif;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .vertical-text-widget::before {
    content: "";
    display: block;
    background-color: #d2ad75;
    height: 2px;
    width: 50px;
  }

  .vertical-text-widget::after {
    content: "";
    display: block;
    background-color: #d2ad75;
    height: 2px;
    width: 50px;
  }
}

@media (max-width: 668px) {
  .main-header {
    flex-direction: column;
    gap: 0px;
  }
  .about-content {
    margin: 16px;
  }
  .about-image {
    opacity: 75%;
    position: absolute;
    right: 30%;
    top: 65%;
    transform: scale(2);

    z-index: 1;
  }
  .vertical-text-widget {
    position: absolute;

    bottom: 450px;
    right: 0px;

    transform: rotate(-90deg);

    transform-origin: bottom right;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    color: #d2ad75;
    font-family: serif;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .vertical-text-widget::before {
    content: "";
    display: block;
    background-color: #d2ad75;
    height: 2px;
    width: 50px;
  }

  .vertical-text-widget::after {
    content: "";
    display: block;
    background-color: #d2ad75;
    height: 2px;
    width: 50px;
  }
}
