@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Jim+Nightshade&family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Italiana&family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");

:root {
  --bg-dark: #0f0f0f;
  --bg-glow: #371919;
  --text-gold: #d2ad75;
  --text-light-gold: #dedede;
  --text-white: #ffffff;
  --accent-red: #8b0000;
  --font-heading-main: "Cormorant Garamond", serif;
  --font-heading-decorative: "Italiana", serif;
  --font-body: "Lato", sans-serif;
  --font-span: "Nanum Myeongjo", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark);
  background-image: linear-gradient(to right, #0f0f0f 8%, #371919 100%);
  font-family: var(--font-body);
  color: var(--text-gold);
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}

a {
  color: var(--text-light-gold);
  text-decoration: none;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 45px 10px;
  justify-content: flex-start;
}

.main-header .logo a {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-gold);
}

.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-header nav a {
  font-family: "Jacques Francois", serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--text-gold);
  transition: color 0.3s;
}
.main-header nav a:hover {
  color: var(--text-white);
}

@media (max-width: 768px) {
  .main-header {
    margin-bottom: 30px;
  }
  .main-header nav a {
    display: none;
  }
}

.hero {
  position: flex;
  min-height: 95vh;
  display: flex;
  align-items: center;
  margin-left: 111px;
  z-index: 1;
}

.hero-content {
  position: relative;
  top: -9vh;
  margin-left: -50px;
}
.hero-content h1 {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-size: 81px;
  letter-spacing: -2%;
  line-height: 1;
  position: relative;
  z-index: 10000;
  color: #ffffff;
  text-shadow: 0 18.67px 15.8px #000000;
  margin-bottom: 0;
}

.hero-content h2 {
  font-family: var(--font-heading-main);
  font-size: 2.5rem;
  color: #d2ad75;
  font-weight: 400;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  letter-spacing: -2%;
  margin-top: -24px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}

.hero-content p {
  font-family: var(--font-span);
  font-size: 1.8rem;
  /* line-height: 1.6; */
  margin-top: -12px;
  margin-bottom: 40px;
  width: 680px;
  color: #dedede;
  /* letter-spacing: -0.62px; */
  text-shadow: -4.31px 11.41px 7.18px #000000;
  /* word-spacing: 25px; */
}


#bl{
  display: block;
}
#greek {
  color: #d2ad75;
  font-weight: 700;
}

.btn {
  display: inline-block;
  border: 1px solid var(--text-gold);
  padding: 12px 35px;
  color: var(--text-gold);
  font-family: "Jacques Francois", serif;
  font-size: 23px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #d2ad75;
  color: var(--bg-dark);
}
.hero-image {
  /* position: absolute; */
  /* right: -8vw; */
  /* top: 34%; */
  /* transform: translateY(-50%); */
  position: relative;
  overflow: visible;
  width: 100%;
  /* max-width: 1720px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.hero-image img {
  position: absolute;
  width: 90.81%;
  height: auto;
  transform: scale(1.5);
  top: -12.76%;
  left: -5%;
  filter: drop-shadow(5px 10px 20px rgba(0, 0, 0, 0.5));
}

.hero-image h3 {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  letter-spacing: -2%;
  font-size: 73px;
  color: #d2ad75;
  margin-top: 625px;
  margin-left: -55px;
  position: relative;
  z-index: 50;
  text-align: center;
  text-shadow: 0px -5px 69.2px #ffc56d;
}

@media (max-width: 900px) {
  .hero-image h3 {
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    letter-spacing: -2%;
    font-size: 55px;
    color: #d2ad75;
    margin-top: -55px;
    margin-left: 90px;
    position: relative;
    z-index: 50;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero {
    position: relative;
    min-height: 95vh;
    display: flex;
    align-items: center;
    margin-left: 42px;
    z-index: 1;
  }
  .flex-heading {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
  }
  .hero-content {
    position: relative;
    top: -9vh;
    margin-left: -50px;
  }
  .hero-content h1 {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-size: 75px;
    margin-top: -300px;
    letter-spacing: -2%;
    line-height: 1;
    position: relative;
    z-index: 10000;
    color: #ffffff;
    text-shadow: 0 18.67px 15.8px #000000;
    margin-bottom: 0;
  }

  .flex-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left: 120px;
  }
  .hero-content h2 {
    font-family: var(--font-heading-main);
    font-size: 2.5rem;
    color: #d2ad75;
    font-weight: 400;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: -2%;
    margin-top: -24px;
    margin-left: 24px;
    margin-bottom: 30px;
    position: relative;
  }

  .hero-content p {
    font-family: var(--font-span);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: -12px;
    margin-bottom: 40px;
    max-width: 480px;
    margin-left: 20px;
    color: #dedede;
    margin-left: 50px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

  .hero-content p span {
    color: #d2ad75;
    font-weight: 700;
  }

  .btn {
    display: inline-block;
    border: 1px solid var(--text-gold);
    padding: 12px 35px;
    color: var(--text-gold);
    margin-top: -20px;
    font-family: "Jacques Francois", serif;
    font-size: 0.9rem;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }

  .hero-image {
    position: absolute;
    right: 12%;
    top: 40%;
    width: 100%;
    max-width: 1130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.section-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.portfolio-section {
  margin-top: -1%;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.testimonial {
  max-width: 550px;
  margin: 0 auto 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 12px;
  border-bottom: 1.7px solid #d2ad75;
}
.image-container {
  border-radius: 50%;
  display: inline-block;
  display: flex;
  padding: 4px;
  border: 1px solid #d2ad75;
  box-shadow: 0 0 3px 1.39px #ffc46c;
}
.testimonial img {
  width: 80px;
  height: 90px;
  border-radius: 50%;
}

.testimonial-text .testimonial-author {
  font-family: var(--font-heading-main);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-gold);
  display: block;
  text-align: left;
}

.testimonial-text p {
  font-family: var(--font-span);

  font-size: 1.3rem;
  color: #dedede;
  letter-spacing: -2%;
  text-align: left;
  max-width: 470px;
}

@media (max-width: 900px) {
  .portfolio-section {
    margin-top: 22vh;

    text-align: center;
    position: absolute;
    z-index: 1000;
  }

  .testimonial {
    max-width: 500px;
    margin: 0 auto 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 12px;
    border-bottom: 1.7px solid #d2ad75;
  }
  .image-container {
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;

    border: 1px solid #d2ad75;

    box-shadow: 0 0 3px 1.39px #ffc46c;
  }
  .testimonial img {
    width: 72px;
    height: 81px;
    border-radius: 50%;
  }

  .testimonial-text .testimonial-author {
    font-family: var(--font-heading-main);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--text-gold);
    display: block;
    text-align: left;
  }

  .testimonial-text p {
    font-family: var(--font-span);

    font-size: 1.2rem;
    color: #dedede;
    letter-spacing: -2%;
    text-align: left;
    max-width: 450px;
  }
}

@media (max-width: 900px) {
  .nav-chevron.down {
    margin-top: 110px;
    z-index: 200;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
  }
}
.nav-chevron {
  position: relative;
  display: flex;
  font-size: 4em;
  justify-content: center;
  align-items: center;
  color: var(--text-gold);
  margin: -0.2% auto;
  font-weight: 1;
  margin-bottom: -1%;
}

.portfolio-section {
  position: relative;
}

.flex-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -2.5%;
  gap: -30px;
}

.flex-portfolio img {
  margin-top: -9%;
  z-index: 10000;
}

.portfolio-section h2 {
  font-family: "Jim Nightshade", cursive;
  font-size: 111px;
  font-weight: 400;
  margin-top: -198px;
  justify-content: center;
  align-items: center;

  color: transparent;
  text-shadow: -4px 8px 40px #000000, 13px 11px 0px #d2ad75;
  z-index: 10;
  position: relative;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.portfolio-section .subtitle {
  font-family: var(--font-span);
  font-size: 29px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #dedede;

  margin-top: -40px;
  width: 660px;
  text-shadow: -3px 8px 10px #000000;
}

@media (max-width: 900px) {
  .portfolio-section h2 {
    font-size: 5.5rem;
  }
  .portfolio-section .subtitle {
    font-size: 1.3rem;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 65px;
  gap: 75px;
}
.gallery img {
  height: auto;
  width: 30%;
}

.gallery .main-image {
  width: 32%;
  transform: scale(1.1);
  /* position: relative; */
  /* z-index: 0; */
  margin-bottom: 5.1%;
}

@media (max-width: 900px) {
  .gallery {
    flex-direction: column;
  }

  .flex-portfolio {
    margin-top: 120px;
  }
  .gallery .main-image {
    transform: scale(1.3);
    position: relative;
    z-index: 0;
    margin-bottom: 0px;
  }
}

.gallery .side-image:first-of-type {
  /* margin-right: -10px; */
}

.gallery .side-image:last-of-type {
  /* margin-left: -10px; */
}

.portfolio-btn {
  display: inline-block;
  border: 1px solid var(--text-gold);
  padding: 12px 35px;
  color: var(--text-gold);

  font-family: "Jacques Francois", serif;
  font-size: 1.37rem;

  font-family: "Jacques Francois", serif;
  font-weight: 400;
  line-height: 150%;
  height: auto;
  color: #d2ad75;
  width: 280px;
  border-radius: 3px;
  padding: 15px 40px;
  border: none;
  margin-top: 3.4%;
  box-shadow: 2.2941176891326904px 6.882352828979492px 4.588235378265381px
    4.588235378265381px rgba(0, 0, 0, 25%);
}
.portfolio-btn:hover {
  background-color: #d2ad75;
  color: var(--bg-dark);
}

.cee {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-down {
  margin-top: 130px;
}

.contact-section {
  padding: 50px 0;
}

.contact-inner {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 200px;

  margin: 3% 7%;
  /* width: 1920px; */
}
.whoami {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 900px) {
  .contact-inner {
    margin-top: 40px;
    flex-direction: column-reverse;
    gap: 70px;
  }
  .logo-down {
    margin-top: 100px;
  }
}
.contact-details h2 {
  text-align: center;
  font-family: "Jacques Francois", serif;
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 400;
}
.contact-details h2 {
  color: transparent;
  font-size: 63px;
  text-shadow: -4px 8px 40px #000000, 13px 11px 0px #d2ad75;
}
.script-font {
  color: transparent;
  text-shadow: -4px 8px 40px #000000, 13px 11px 0px #d2ad75;

  font-family: "Jim Nightshade", cursive;
  text-shadow: -4px 8px 40px #000000, 13px 11px 0px #d2ad75;
  text-align: center;
  font-size: 110px;

  display: block;

  margin-top: -20px;
  line-height: 1;
  font-weight: 400;
}

.contact-details > p {
  font-family: var(--font-span);

  color: #dedede;
  margin-top: 50px;
  word-spacing: 6px;
  margin-bottom: 40px;
  /* max-width: 470px; */
  width: 720px;
  font-size: 34.4px;
  /* letter-spacing: -0.5px; */
  line-height: 40.4px;
  text-align: center;
  word-spacing: 25px;
}

.contact-methods p {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #dedede;
  font-weight: 100;
  font-size: 1.35rem;
  letter-spacing: -0.51px;
}

.contact-methods span {
  font-family: "SF Pro", serif;
  font-size: 28px;
  color: #d2ad75;
  display: block;
  line-height: 150%;
  margin-bottom: 8px;
  font-weight: 400;
  letter-spacing: 1px;
}

.contact-methods span a {
  filter:  /* Small blur for crispness */ drop-shadow(
    0 0 1px #d2ad75
  ); /* Second layer for more thickness */
}
/* Container: Made responsive, removed fixed height, and centered on the page. */
.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 130px;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  width: 600px; /* Reduced width for a more standard form look */
  height: 700px;
  /* width: 90%;      Added for responsiveness */
  /* height: auto;     Removed fixed height to allow content to define it */
  margin: 0 auto; /* Centers the form container on the page */
  box-sizing: border-box;
}

/* Heading: Reduced font size for better visual balance. */
.contact-form-container h3 {
  font-family: var(--font-heading-main);
  font-size: 3.5rem; /* Reduced from 75px to match the target image */
  text-align: center;
  margin-bottom: 40px;
  color: #dddddd;
  line-height: 1;
  font-weight: 400;
}

/* Inputs & Textarea: Set width to 100% for alignment and removed element opacity. */
.contact-form-container input,
.contact-form-container textarea {
  width: 100%; /* Ensures all fields align by taking the full container width */
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-gold);
  padding: 15px 0 10px 0;
  margin-bottom: 35px; /* Adjusted for consistent spacing */
  color: #d2ad75; /* Color for the text the user types in */
  font-size: 1.2rem;

  font-family: var(--font-span);
  outline: none;
  opacity: 50%;
  /* opacity: 0.5; */
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

/* Placeholder: Styled separately for better control over appearance. */
.contact-form-container input::placeholder,
.contact-form-container textarea::placeholder {
  color: #d2ad75;
  /* opacity: ; */
  /* opacity: 0.5; Makes placeholder text distinct from user input */
  font-family: "Jacques Francois", serif;
  margin-bottom: -10px;
}

/* Textarea: Adjusted bottom margin for spacing. */
.contact-form-container textarea {
  resize: vertical;
  min-height: 80px;
  margin-bottom: 40px; /* More space before the submit button */
}

/* Button: Fixed width, removed margin-left, added a border, and fixed box-shadow. */
.contact-form-container .btn {
  width: 75%; /* Matched width to the input fields */
  text-align: center;
  position: relative;
  display: flex;
  padding: 15px 25px;
  /* margin-left: 50px; <-- This was removed as it broke the centering */
  background-color: transparent;
  /* border: 1px solid var(--text-gold); Added a border to match the target image */
  color: var(--text-gold);
  font-family: "Jacques Francois", serif;
  font-size: 1.35rem;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  /* Consolidated the two box-shadow rules into one */
  box-shadow: 2.4203152656555176px 7.260945796966553px 4.840630531311035px
    4.840630531311035px rgba(0, 0, 0, 25%);
  margin: 3% auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contact-form-container .btn:hover {
  background-color: #d2ad75;
  color: var(--bg-dark);
}

.contact-form-container .btn:active {
  background-color: rgba(210, 173, 117, 0.2);
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

#icon {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-gold);
  margin-bottom: 1200%;
}

.side-icons-left {
  position: absolute;
  left: 2%;
  top: 105%;
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-gold);
  transform: translateY(-50%);
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1000000;
}
.side-icons-left a {
  z-index: 1000000;
  pointer-events: auto; /* Re-enables clicks for the links */
}

.btw-form {
  display: none;
}
@media (max-width: 900px) {
  .btw-form {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .side-icons-left {
    display: none;
  }
}
.side-icons-left svg {
  transform: scale(0.65);
  transform: scale(0.7);
  fill: var(--text-gold);
  transition: fill 0.3s;
}
.side-icons-left a:hover svg {
  fill: #dddddd;
}

@media (max-width: 992px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-content {
    order: 2;
    margin-top: 40px;
  }
  .hero-image {
    order: 1;
  }
  .hero-content p,
  .contact-details > p {
    margin-left: auto;
    margin-right: auto;
  }
  .contact-details {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .hero-content h1 {
    font-size: 4rem;
  }
  .hero-image h3 {
    font-size: 2.2rem;
  }
  .portfolio h2,
  .contact-details h2,
  .contact-form-container h3 {
    font-size: 2.5rem;
  }
  .main-header {
    flex-direction: column;
    gap: 15px;
  }
  .side-icons-left,
  .vertical-text-right {
    display: none;
  }
}

body {
  background-color: #371919;
}

.vertical-text-widget-2 {
  position: absolute;

  bottom: -1650px;
  right: 15px;

  transform: rotate(-90deg);

  transform-origin: bottom right;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  color: #d2ad75;
  font-family: serif;
  font-size: 23px;
  letter-spacing: 1px;
}

.vertical-text-widget-2::after {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 55px;
}
.vertical-text-widget {
  position: absolute;

  bottom: -520px;
  right: 15px;

  transform: rotate(-90deg);

  transform-origin: bottom right;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  color: #d2ad75;
  font-family: serif;
  font-size: 23px;
  letter-spacing: 1px;
}

.vertical-text-widget::before {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 55px;
}

.vertical-text-widget::after {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 55px;
}

.vertical-text-widget-small {
  display: none;
}

@media (max-width: 900px) {
  .vertical-text-widget {
    bottom: 150px;
    right: 15px;
    font-size: 0.9rem;
  }
  .vertical-text-widget::before {
    height: 1px;
    width: 45px;
  }
  .vertical-text-widget::after {
    height: 1px;
    width: 45px;
  }
  .vertical-text-widget-2 {
    display: none;
  }

  .vertical-text-widget-small {
    position: absolute;

    bottom: -2750px;
    right: 15px;

    transform: rotate(-90deg);

    transform-origin: bottom right;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    color: #d2ad75;
    font-family: serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  .vertical-text-widget-small::after {
    content: "";
    display: block;
    background-color: #d2ad75;
    height: 1px;
    width: 50px;
  }
}
@media (max-width: 667px) {
  .hero-content h1 {
    font-size: 4rem;
    margin-left: -30px;
    margin-top: -350px;
  }
  .hero-content h2 {
    font-family: var(--font-heading-main);
    font-size: 2.5rem;
    color: #d2ad75;
    font-weight: 400;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: -2%;
    margin-top: -24px;
    margin-left: -32px;
    margin-bottom: 30px;
    position: relative;
  }
  .hero-content p,
  .contact-details > p {
    margin-left: -100px;
    margin-top: -50px;
  }
  .btn {
    display: inline-block;
    border: 1px solid var(--text-gold);
    padding: 12px 35px;
    color: var(--text-gold);
    margin-top: -18px;
    font-family: "Jacques Francois", serif;
    font-size: 0.9rem;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    margin-left: -109px;
  }
  .hero-image h3 {
    font-size: 1.9rem;
    margin-left: 28px;
  }
  .hero-image img {
    width: 175%;
    margin-left: -39px;
    height: auto;
  }
  .testimonial {
    margin-top: -55px;
  }
  .testimonial-text p {
    font-size: 1.1rem;
  }
  .gallery img {
    height: 164px;
    width: auto;
  }
  .gallery .main-image {
    transform: scale(1.2);
  }
  .portfolio-section h2 {
    font-size: 4.5rem;
    margin-bottom: 20px;
  }
  .hero-content p,
  .contact-details > p {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1.3rem;
  }
  .portfolio h2,
  .contact-details h2,
  .contact-form-container h3 {
    font-size: 2.5rem;
    margin-left: -20px;
  }
  .vertical-text-widget-small {
    position: absolute;

    bottom: -2550px;
    right: 15px;
  }
}
