@import url(https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Viaoda+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Antic+Didone&family=Jim+Nightshade&family=Viaoda+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Italiana&family=Lato:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
@import url(./common.css);
@import url(./cursor.css);
.btn,
.main-header nav a {
  color: var(--text-gold);
  font-family: "Jacques Francois", serif;
}
:root {
  --bg-dark: #140d0d;
  --bg-glow: #371919;
  --text-gold: #d2ad75;
  --text-light-gold: #e0d5c6;
  --text-white: #ffffff;
  --font-script: "Mea Culpa", cursive;
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-dark);
  background-image: linear-gradient(to right, #0f0f0f 8%, #371919 100%);
  font-family: var(--font-body);
  color: var(--text-gold);
  overflow-x: hidden;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}
a {
  color: var(--text-light-gold);
  text-decoration: none;
}
.main-header {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 45px 10px;
  justify-content: flex-start;
}
.main-header .logo a {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-gold);
}
.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.main-header nav a {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: color 0.3s;
}
.main-header nav a:hover {
  color: var(--text-white);
}
.about-section {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  margin-left: 30px;
}
.about-content {
  flex-basis: 50%;
  width: 1500px;
  z-index: 2;
}
.about-content .heading {
  margin-bottom: 25px;
}
.about-content .heading span {
  font-size: 3rem;
  font-style: italic;
  color: var(--text-white);
  display: block;
}
.about-content .heading h1 {
  font-family: "Jim Nightshade", cursive;
  font-size: 8rem;
  line-height: 0.8;
  color: #d2ad75;
  font-weight: 400;
  margin-top: -23px;
  z-index: 10;
  margin-left: -7px;
}
.about-content p {
  font-family: "Antic Didone", serif;
  color: #dedede;
  font-size: 31px;
  line-height: 1.8;
  margin-bottom: 35px;
}
.about-content p strong {
  font-weight: 700;
  font-size: 44px;
  color: var(--text-gold);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.btn {
  display: inline-block;
  border: 1px solid var(--text-gold);
  padding: 12px 35px;
  font-size: 24.77px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: var(--text-gold);
  color: var(--bg-dark);
}
.about-image {
  position: absolute;
  right: 12%;
  top: 18%;
  transform: scale(1.4);
  z-index: 1;
}
.about-image img {
  width: 100%;
  max-width: 935px;
  height: auto;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0px 3.76px 5.2px #000);
}
.quote-section {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 84px;
  border-top: 1px solid #d2ad75;
}
.quote-icons {
  display: flex;
  gap: 15px;
  margin-left: 8px;
  margin-top: 24px;
}
#mail {
  margin-top: 6px;
}
.quote-text {
  font-family: var(--font-serif);
}
.quote-text p {
  font-size: 19px;
  margin: 10px 0 9px;
  line-height: 1.5;
  color: #fff;
}
.quote-text span {
  display: block;
  font-size: 22px;
  text-align: center;
  color: var(--text-gold);
  font-weight: 400;
  font-style: normal;
  text-shadow: -2.61px 2.61px 2.61px #000;
}
.vertical-text-widget {
  position: absolute;
  bottom: 625px;
  right: 15px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: #d2ad75;
  font-family: serif;
  font-size: 23px;
  letter-spacing: 1px;
}
.vertical-text-widget::after,
.vertical-text-widget::before {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 50px;
}
@media (max-width: 880px) {
  .gold-trail {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffd700, #ffcc00, #ffa500);
    pointer-events: none;
    z-index: 9997;
    animation: goldTrail 1s ease-out forwards;
    mix-blend-mode: screen;
    filter: drop-shadow(0 0 8px gold);
  }

  @keyframes goldTrail {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.3) translateY(-10px);
    }
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .main-header nav a,
  .main-header nav ul {
    display: none;
  }
  .main-header {
    justify-content: center;
    gap: 0px;
    padding: 50px 10px 25px;
  }
  .about-section {
    display: grid;
    place-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    padding: 2rem 0;
  }
  .about-content {
    position: relative;
    /* flex-basis: 100%; */
    width: 78%;
    order: 1;
    text-align: left;
    grid-area: 1/1;
    padding-bottom: 50px;
  }
  .about-content .heading span {
    margin-left: auto; /* This centers the block */
    margin-right: auto; /* This centers the block */
    font-size: 2.2rem;
    margin-left: 0px;
    text-align: left;
  }
  .about-content .heading h1 {
    text-align: left;
    font-size: 6rem;
    margin-left: 0;
  }
  .about-content p {
    text-align: left;
    font-size: 19px;
    line-height: 1.6;
  }
  .about-content p strong {
    font-size: 25px;
  }
  .btn {
    text-align: left;
    font-size: 17px;
    margin-left: 0;
  }
  .about-image {
    position: relative;
    grid-area: 1/1;
    width: 96%;
    align-self: center;

    justify-content: center;
  }
  .about-image img {
    transform: translateY(-10px);
    overflow-x: hidden;
    position: relative;
    /* transform: scale(1.1); */
    max-width: 100%;
    filter: drop-shadow(0px 3.76px 5.2px rgba(0, 0, 0, 0.25));
    filter: brightness(0.75);
    margin-bottom: 50px;
  }

  .quote-section {
    width: 100%;
    margin: 60px auto 0;
  }
  .quote-icons {
    transform: scale(0.8);
    margin: 0 0 15px;
  }
  .quote-text p {
    font-size: 14px;
    text-align: left;
  }
  .quote-text span {
    font-size: 14px;
    margin-left: 0 auto;
    text-shadow: -2.61px 2.61px 2.61px #000;
    text-align: center;
  }
  .vertical-text-widget {
    display: none;
    bottom: 200px;

    font-size: 11px;
  }
  .vertical-text-widget::after,
  .vertical-text-widget::before {
    width: 30px;
  }
}
