body {
  cursor: none;
  background-color: #0f0f0f;
  overflow: hidden;
}

.cursor-blade {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2147483647; /* This is the maximum 32-bit signed integer value, often used as max z-index */

  width: 55px;
  height: 55px;

  will-change: transform;
}

.cursor-blade img {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}
.btn,
a,
button,
button:hover,
.btn:hover,
input[type="submit"],
input,
textarea,
[role="button"] {
  cursor: none;
}
.cursor-particle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 29009999;
  filter: drop-shadow(0 0 6px #ff4500);
  animation: flame 1.1s ease-out forwards;
  transform: translate(var(--scatter-x), var(--scatter-y));
  mix-blend-mode: screen;
}

@keyframes flame {
  0% {
    transform: translate(var(--scatter-x), var(--scatter-y)) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(
        calc(var(--scatter-x) * 1.5),
        calc(var(--scatter-y) * 1.5)
      )
      scale(0.2);
    opacity: 0;
  }
}
