@import url(https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Viaoda+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Antic+Didone&family=Jim+Nightshade&family=Viaoda+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Italiana&family=Lato:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
@import url(./styles/common.css);
.hero,
.main-header {
  display: flex;
  align-items: center;
}
.main-header .logo a,
.main-header nav a {
  font-weight: 300;
  color: var(--text-gold);
}
.btn,
.main-header .logo a,
.main-header nav a,
body {
  color: var(--text-gold);
}
.btn,
.hero-content h1,
.main-header nav a {
  font-family: "Jacques Francois", serif;
}
:root {
  --bg-dark: #0f0f0f;
  --bg-glow: #371919;
  --text-gold: #d2ad75;
  --text-light-gold: #dedede;
  --text-white: #ffffff;
  --accent-red: #8b0000;
  --font-heading-main: "Cormorant Garamond", serif;
  --font-heading-decorative: "Italiana", serif;
  --font-body: "Lato", sans-serif;
  --font-span: "Nanum Myeongjo", serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-dark);
  background-image: linear-gradient(to right, #0f0f0f 8%, #371919 100%);
  font-family: var(--font-body);
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}
a {
  color: var(--text-light-gold);
  text-decoration: none;
}
.main-header {
  gap: 70px;
  padding: 45px 10px;
  justify-content: flex-start;
}
.main-header .logo a {
  font-size: 2rem;
}
.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.main-header nav a {
  font-size: 20px;
  letter-spacing: 1px;
  transition: color 0.3s;
}
.main-header nav a:hover {
  color: var(--text-white);
}
.hero {
  position: flex;
  min-height: 95vh;
  margin-left: 111px;
  z-index: 1;
}
.hero-content {
  position: relative;
  top: -9vh;
  margin-left: -50px;
}
.hero-content h1 {
  font-weight: 400;
  font-size: 81px;
  letter-spacing: -2%;
  line-height: 1;
  position: relative;
  z-index: 10000;
  color: #fff;
  text-shadow: 0 18.67px 15.8px #000;
  margin-bottom: 0;
}
.hero-content h2 {
  font-family: var(--font-heading-main);
  font-size: 2.5rem;
  color: #d2ad75;
  font-weight: 400;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  letter-spacing: -2%;
  margin-top: -24px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}
.hero-content p {
  font-family: var(--font-span);
  font-size: 1.8rem;
  margin-top: -12px;
  margin-bottom: 40px;
  width: 680px;
  color: #dedede;
  text-shadow: -4.31px 11.41px 7.18px #000;
}
#bl {
  display: block;
}
#greek {
  color: #d2ad75;
  font-weight: 700;
}
.btn {
  display: inline-block;
  border: 1px solid var(--text-gold);
  padding: 12px 35px;
  font-size: 23px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover,
.contact-form-container .btn:hover,
.portfolio-btn:hover {
  background-color: #d2ad75;
  color: var(--bg-dark);
}
.hero-image {
  position: relative;
/* z-index: 99; */
  /* overflow: visible; */
  width: 99%;
}
.hero-image img {
  position: absolute;
  width: 90.81%;
  height: auto;
  transform: scale(1.5);
  top: -12.76%;
  left: -5%;
  /* z-index: 100; */
  filter: drop-shadow(5px 10px 20px rgba(0, 0, 0, 0.5));
}
/* --- NEW AND FIXED CODE --- */
/* --- OLD CODE --- */
.hero-image h3 {
  text-shadow: 0 -5px 69.2px #ffc56d;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-size: 73px;
  color: #d2ad75;
  margin-top: 650px;
  margin-left: -55px;
  position: relative;
  z-index: 0;
  text-align: center;
}
.section-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
.portfolio-section {
  margin-top: -1%;
  text-align: center;
  z-index: 1000;
  position: relative;
}
.testimonial {
  max-width: 550px;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 12px;
  border-bottom: 1.7px solid #d2ad75;
}
.image-container {
  border-radius: 50%;
  display: inline-block;
  display: flex;
  padding: 4px;
  border: 1px solid #d2ad75;
  box-shadow: 0 0 3px 1.39px #ffc46c;
}
.testimonial img {
  width: 80px;
  height: 90px;
  border-radius: 50%;
}
.testimonial-text .testimonial-author {
  font-family: var(--font-heading-main);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-gold);
  display: block;
  text-align: left;
}
.testimonial-text p {
  font-family: var(--font-span);
  font-size: 1.3rem;
  color: #dedede;
  letter-spacing: -2%;
  text-align: left;
  max-width: 470px;
}
.nav-chevron {
  position: relative;
  display: flex;
  font-size: 4em;
  justify-content: center;
  align-items: center;
  color: var(--text-gold);
  margin: -0.2% auto -1%;
  font-weight: 1;
}
.flex-portfolio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -2.5%;
  gap: -30px;
  z-index: 100000;
  margin-bottom: 20px;
}
.flex-portfolio img {
  margin-top: -9%;
}
.portfolio-section h2 {
  font-family: "Jim Nightshade", cursive;
  font-size: 111px;
  font-weight: 400;
  margin-top: -198px;
  justify-content: center;
  align-items: center;
  color: transparent;
  text-shadow: -4px 8px 40px #000, 13px 11px 0 #d2ad75;
  z-index: 10;
  position: relative;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.portfolio-section .subtitle {
  font-family: var(--font-span);
  font-size: 29px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #dedede;
  margin-top: -40px;
  width: 660px;
  text-shadow: -3px 8px 10px #000;
}
.contact-details h2,
.contact-form-container .btn,
.portfolio-btn {
  font-family: "Jacques Francois", serif;
}
.cee,
.gallery {
  justify-content: center;
}
.gallery {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 65px;
  gap: 75px;
}
.gallery img {
  height: auto;
  width: 30%;
}
.gallery .main-image {
  width: 32%;
  transform: scale(1.1);
  margin-bottom: 5.1%;
}
.portfolio-btn {
  display: inline-block;
  padding: 15px 40px;
  color: var(--text-gold); /* Using the CSS variable for consistency */
  font-size: 1.37rem;
  font-weight: 400;
  line-height: 150%;
  height: auto;
  width: 280px;

  border-radius: 0px; /* Could be just 0, but 0px is fine */
  border: none; /* Explicitly state no border */
  margin-top: 3.4%;
  background-color: rgba(48, 26, 26, 0.01); /* Removed the trailing slash */
  box-shadow: 0.88px 2.65px 1.77px 1.77px rgba(0, 0, 0, 0.25); /* Rounded values */
  z-index: 1000;
}

.cee,
.whoami {
  position: relative;
  display: flex;
  z-index: 0;
}
.contact-details h2,
.script-font {
  color: transparent;
  text-shadow: -4px 8px 40px #000, 13px 11px 0 #d2ad75;
  font-weight: 400;
  text-align: center;
}
.cee {
  margin-top: 5px;
  align-items: center;
}
.logo-down {
  margin-top: 130px;
}
.contact-section {
  padding: 50px 0;
}
.contact-inner {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 200px;
  margin: 3% 7%;
}
.whoami {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.contact-details h2 {
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: 63px;
}
.script-font {
  font-family: "Jim Nightshade", cursive;
  font-size: 110px;
  display: block;
  margin-top: -20px;
  line-height: 1;
}
#icon,
.side-icons-left {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-gold);
}
.contact-details > p {
  font-family: var(--font-span);
  color: #dedede;
  margin-top: 50px;
  word-spacing: 6px;
  margin-bottom: 40px;
  width: 720px;
  font-size: 34.4px;
  line-height: 40.4px;
  text-align: center;
  word-spacing: 25px;
}
.contact-methods p {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #dedede;
  font-weight: 100;
  font-size: 1.35rem;
  letter-spacing: -0.51px;
}
.contact-methods span {
  font-family: "SF Pro", serif;
  font-size: 28px;
  color: #d2ad75;
  display: block;
  line-height: 150%;
  margin-bottom: 8px;
  font-weight: 400;
  letter-spacing: 1px;
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 130px;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}
.contact-form-container h3 {
  font-family: var(--font-heading-main);
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #ddd;
  line-height: 1;
  font-weight: 400;
}
.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid var(--text-gold);
  padding: 15px 0 10px;
  margin-bottom: 35px;
  color: #d2ad75;
  font-size: 1.2rem;
  font-family: var(--font-span);
  outline: 0;
  opacity: 50%;
  box-sizing: border-box;
}
.contact-form-container input::placeholder,
.contact-form-container textarea::placeholder {
  color: #d2ad75;
  font-family: "Jacques Francois", serif;
  margin-bottom: -10px;
}
.contact-form-container textarea {
  resize: vertical;
  min-height: 80px;
  margin-bottom: 40px;
}
.contact-form-container .btn {
  width: 75%;
  position: relative;
  display: flex;
  padding: 15px 25px;
  background-color: transparent;
  color: var(--text-gold);
  font-size: 1.35rem;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 2.4203152656555176px 7.260945796966553px 4.840630531311035px
    4.840630531311035px rgba(0, 0, 0, 25%);
  margin: 3% auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.contact-form-container .btn:active {
  background-color: rgba(210, 173, 117, 0.2);
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}
#icon {
  margin-bottom: 1200%;
}
.side-icons-left {
  position: absolute;
  left: 2%;
  top: 105%;
  transform: translateY(-50%);
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1000000;
}
.side-icons-left a {
  z-index: 1000000;
  pointer-events: auto;
}
.btw-form,
.vertical-text-widget-small {
  display: none;
}
.vertical-text-widget,
.vertical-text-widget-2 {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 1.5rem;
  color: #d2ad75;
  font-family: serif;
  font-size: 23px;
  letter-spacing: 1px;
}
.vertical-text-widget-2 {
  bottom: -1650px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  align-items: center;
}
.vertical-text-widget-2::after,
.vertical-text-widget::after,
.vertical-text-widget::before {
  content: "";
  display: block;
  background-color: #d2ad75;
  height: 2px;
  width: 55px;
}
.vertical-text-widget {
  bottom: -520px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  align-items: center;
}

@media (max-width: 768px) {
  .main-header nav a,
  .main-header nav ul {
    display: none;
  }
  .main-header {
    justify-content: center;
    padding: 50px 10px 25px;
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
  }
  .hero {
    /* margin: -40% auto; */
    overflow-x: hidden;
    text-align: center;
  }
  .hero-content {
    margin: 0 auto;
  }
  .hero-content h1 {
    font-size: 65px;
  }
  .hero-content h2 {
    font-size: 2.35rem;
  }
  .hero-content p {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  /* --- Header --- */
  .main-header {
    justify-content: center;
    padding: 30px 10px;
  }
  .main-header nav {
    display: none;
  }

  /* --- Side Elements --- */
  .side-icons-left,
  .vertical-text-widget,
  .vertical-text-widget-2,
  .vertical-text-widget-small {
    display: none;
  }
  /* --- Hero Section --- */
  .hero {
    flex-direction: column;
    margin-left: 0;
    min-height: auto;
    padding-top: 20px;
    text-align: center;
  }
  .hero-content {
    position: static;
    margin: 0;
    width: 100%;
    order: 1; /* Content appears first */
    z-index: 20;
  }
  .hero-content h1 {
    font-size: 68px;
    text-shadow: 0 10px 12px #000;
  }
  .hero-content h2 {
    font-size: 2.35rem;
    margin: -22px -15px 0 0;
  }
  .hero-content p {
    font-size: 1.5rem;
    width: 75%;
    margin: 20px auto 30px;
    line-height: 1.5;
    text-shadow: -2px 6px 5px #000;
  }
  #bl {
    display: inline;
  }
  .btn {
    font-size: 18px;
  }
  .hero-image {
    order: 2; /* Image appears after content */
    margin-top: -50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
  .hero-image img {
    position: static;
    transform: none;
    width: 150%;
    z-index: -2;

    max-width: 720px;
    margin: -100px 75px 0 0;
    filter: brightness(0.8);
  }

  .hero-image h3 {
    font-size: 35px;
    margin: -40px -30px 0 0;
    max-width: 310px;
    text-shadow: 0 -1.36px 18.87px #ffc56d;
  }

  /* --- Portfolio Section --- */
  .portfolio-section {
    margin-top: 80px;
  }
  .testimonial {
    max-width: 130%;
    transform: scale(0.7);
  }
  .testimonial-text p {
    font-size: 1.1rem;
  }

  .nav-chevron {
    font-size: 3em;
    margin: 0px auto;
  }
  .flex-portfolio {
    margin-top: -20px;
  }
  .flex-portfolio img {
    transform: scale(0.6);
    /* margin: -20px 0 0 0; */
    margin-top: -80px;
    max-width: 350px;
  }
  .portfolio-section .subtitle {
    width: 75%;
    margin: -50px auto 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  .gallery {
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .left,
  .right {
    transform: scale(0.8);
  }
  .gallery .side-image {
    display: none; /* Hide side images on mobile */
  }
  .gallery .main-image {
    width: 69%;
    transform: none;
    margin-bottom: 0;
  }
  .portfolio-btn {
    width: 60%;
    max-width: 280px;
    font-size: 1rem;
    padding: 12px 20px;
    margin-top: 40px;
  }

  /* --- Contact Section --- */
  .logo-down {
    margin-top: 80px;
    transform: scale(0.8);
  }
  .contact-section {
    padding: 40px 0;
    margin-bottom: 50px;;
  }
  .whoami {
    transform: scale(0.65);
    max-width: 450px;
  }
  .contact-inner {
    flex-direction: column-reverse;
    gap: 0; /* reduce gap and use margins */
    margin: 0;
    align-items: center;
  }
  .contact-details {
    width: 90%;
    position: relative; /* For positioning vertical text */
  }
  .contact-details .whoami {
    width: 90%;
    height: auto;
  }
  .contact-details > p {
    font-size: 1.3rem;
    width: 90%;
    margin: 0px auto;
    line-height: 1.6;
    word-spacing: normal; /* Reset word spacing for mobile */
  }
  .contact-methods span {
    font-size: 1.3rem;
  }
  .contact-methods p {
    font-size: 0.9rem;
  }
  .contact-methods img {
    transform: scale(0.8);
    vertical-align: middle;
    margin-left: 5px;
  }
  .btw-form {
    /* Icon between details and form */
    display: block;
    margin: 20px 0;
    transform: scale(0.8);
  }
  .contact-form-container {
    width: 70%;
    padding: 40px 25px;
    height: auto;
    margin: 10px auto 200px;
  }
  .contact-form-container h3 {
    font-size: 2.3rem;
    margin-bottom: 30px;
  }
  .contact-form-container input,
  .contact-form-container textarea {
    font-size: 0.9rem;
  }
  .contact-form-container .btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
  }
}

/* Add this to your main style.css file, outside any @media query */

.gallery .main-image,
.flex-portfolio img,
.flex-portfolio .subtitle {
  transition: opacity 0.3s ease-in-out;
}
